<h2>Lista de Tarefas</h2>

<div id="resultado">
	<%= render :partial => 'lista_tarefa', :object => @tarefas %>
</div>

<%#= link_to 'Nova Tarefa', new_projeto_tarefa_path(@projeto), :id => 'cria_nova_tarefa' %>

<span class="modal_button">Criar Tarefa</span>

<%= render "form" %>